@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .border-text {
    -webkit-text-stroke: 2px #cbcdcd; /* WebKit browsers (Chrome, Safari) */
    -webkit-text-stroke: 4px #cbcdcd; /* Standard syntax */
  }
}

@layer utilities {
  .bg-rgba-blue-alpha-04 {
    background-color: rgba(116, 195, 240, 0.04);
  }

  .backdrop-blur-9 {
    backdrop-filter: blur(9.22330093383789px);
  }
  .text-area-bg {
    background-color: rgba(13, 32, 39, 0.25);
  }
  .text-area-shadow {
    box-shadow: 0px 0px 4.516px 0px rgba(23, 25, 28, 0.05);
  }
}

@layer components {
  .btn {
    @apply font-bold text-sm leading-6 bg-[#060B12] text-[#060B12] px-7 py-2.5 inline-flex justify-center items-center gap-2.5 rounded-[4px] text-center disabled:cursor-not-allowed;
  }

  .btn.btn--outline {
    @apply text-[#101115] bg-white hover:bg-gray-100 transition-colors border border-[#060B12];
  }

  .btn.btn--transparent-light {
    @apply text-black transition-colors bg-white hover:bg-gray-100;
  }

  .btn.btn--transparent {
    @apply text-white transition-colors hover:text-gray-200 bg-white/30;
  }

  .btn.btn--primary {
    @apply bg-primary disabled:bg-gray-200 disabled:text-white;
  }

  .btn--contacts {
    @apply disabled:bg-gray-200 disabled:text-white;
  }

  .btn-gradient {
    @apply px-6 py-4 text-sm font-bold text-white transition-colors hover:text-gray-200 bg-white/30 rounded-xl;
    background: linear-gradient(316.8deg, #fb167c 7.09%, #fd7b03 100%);
    box-shadow: 0px 8px 24px -8px rgba(253, 116, 11, 0.2);
  }
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060b12;
  height: 100%;
}

.custom-border {
  border-color: rgba(42, 60, 70, 0.5);
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.loader:after {
  content: " ";
  display: block;
  width: 45px;
  height: 45px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3b1b5d;
  border-color: #3b1b5d transparent #3b1b5d transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  opacity: 0.7;
}

.bg-dark-400 {
  /* --tw-bg-opacity: 1; */
  /* background-color: rgb(20 18 23 / var(--tw-bg-opacity)); */
  background-color: #060b12;
}

.text-dark-100 {
  --tw-text-opacity: 1;
  color: rgb(135 134 140 / var(--tw-text-opacity));
}

.border-dark-300 {
  --tw-border-opacity: 1;
  border-color: rgb(33 32 38 / var(--tw-border-opacity));
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scroll-track-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scroll-track-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.border-gradient {
  background-clip: padding-box;
  border-image: linear-gradient(to bottom right, #8cf10c, #28ed77);
  border-image-slice: 1;
  border-radius: 20px;
}

.border-gradients {
  background-clip: padding-box;
  border-image: linear-gradient(to bottom right, #0c74f1, #28eddb);
  border-image-slice: 1;
  border-radius: 20px;
}

.Sample input,
.Sample button {
  font: inherit;
}

.Sample header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Sample header h1 {
  font-size: inherit;
  margin: 0;
}

.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}

.Sample__container > * > * {
  margin: 10px;
}

.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 15px;
  border: 1px solid #79c4ec;
  border-radius: 4px;
  background-color: #060b12;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #2a3c46;
}

.backgrounds {
  background-color: #060b12;
  border: 1px solid #2a3c46;
  border-radius: 6px;
}

.borderss {
  border: none;
}

.removeBorder {
  border: none !important;
}

.react-datetime-picker__wrapper {
  border: none !important; /* Override the default border */
  /* Additional styles if needed */
}
